.bubble {
  display: flex;
  flex-direction: row;
}

.bubbles {
  display: flex;
  flex-direction: column;
  background: hsla(240, 100%, 50%, 0.2);
}

.threads {
  display: flex;
  flex-direction: column;
  background: hsla(0, 100%, 50%, 0.2);
}

.showContent {
  background: hsla(120, 100%, 50%, 0.2);
}

.badgeBubble {
  background: hsla(240, 100%, 50%, 0.5);
}

.badgeThread {
  background: hsla(0, 100%, 50%, 0.5);
}
