<div *ngIf="!bubble.closed"
     [ngClass]="{'showContent': showContent}">
  <div class="bubble">
    <div class="button" (click)="showContents()">
      {{bubble.name}}
      <span class="badge badgeBubble"
            *ngIf="bubble.bubbles.length">({{bubble.bubbles.length}})</span>
      <span class="badge badgeThread"
            *ngIf="bubble.threads.length">({{bubble.threads.length}})</span>
    </div>
    <button (click)="deleteBubble()">X</button>
  </div>


  <div *ngIf="showContent">
    <div *ngIf="bubble.bubbles.length"
         class="bubbles">
      Buble
      <div *ngFor="let bubbleIn of bubble.bubbles">
        <app-bubble [bubble]="bubbleIn"></app-bubble>
      </div>
    </div>

    <input type="text"
           name=""
           [(ngModel)]="newThreadName">
    <button (click)="createNewThread()">Stwórz wątek {{newThreadName}}</button>

    <div *ngIf="bubble.threads.length"
         class="threads">
      Wątki
      <div *ngFor="let thread of bubble.threads">
        <app-thread [thread]="thread"></app-thread>
      </div>
    </div>
  </div>


</div>
