<div *ngIf="!thread.closed"
     [ngClass]="{'showContent': showContent}">
  <div class="thread">
    <div class="button" (click)="showContent=!showContent">
      {{thread.name}}
      <span *ngIf="thread.posts.length"
            class="badge badgePosts">({{thread.posts.length}})</span>

    </div>

    <button (click)="deleteThread()">X</button>
  </div>
  <div *ngIf="showContent"
       class="posts">
    Posty
    <input type="text"
           name=""
           [(ngModel)]="newPost">
    <button (click)="createNewPost()">Wyślij post</button>

    <div *ngIf="thread.posts.length">
      <div *ngFor="let post of thread.posts"
           class="post">
        <app-post [post]="post"></app-post>
      </div>
    </div>

  </div>
</div>
