<!--The content below is only a placeholder and can be replaced.-->
<div class="nav">
  <a routerLink="/"
     routerLinkActive="active">/</a>
  <a routerLink="/trelloBB"
     routerLinkActive="active">trelloBB</a>
     <a href="https://gitlab.com/fraunos/angular-playground">gitlab.com/fraunos/angular-playground/</a>
</div>
<router-outlet></router-outlet>
