/* You can add global styles to this file, and also import other style files */

:root{
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

.nav {
  margin: 2vmin;
}

div {
  padding: 1vmin;
  border-radius: 1vmin;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 1vmin;
}

.button:hover {
  background: hsla(360, 100%, 50%, 0.5)
}
.badge {
  color: white;
  border-radius: 1vmin;
}
