<div class="">
  <input type="text"
         name=""
         [(ngModel)]="newBubbleName">
  <button (click)="createNewList()">Stwórz bubel {{newBubbleName}}</button> (można tworzyć zagnieżdżone buble wpisując ścieżkę oddzieloną : zamiast /)
</div>
<div *ngFor="let bubble of bubbles">
  <app-bubble [bubble]="bubble"></app-bubble>
</div>
